/* Main font for everything is DejaVu Serif */
@font-face {
	font-family: "DejaVu Serif";
	src: url(../fonts/DejaVuSerif.ttf);
}

@font-face {
	font-family: "DejaVu Serif";
	src: url(../fonts/DejaVuSerif-Bold.ttf);
	font-weight: bold;
}

@font-face {
	font-family: "DejaVu Serif";
	src: url(../fonts/DejaVuSerif-Italic.ttf);
	font-style: italic;
}



h1, h2, h3 {
	/* Bolding does not look good */
	font-weight: normal;
	text-align: center;
}

/* These settings apply when printing to a printer or to PDF file */
@media print {
	@page {
		margin: 10mm 10mm 10mm 10mm;
	}

	/* Decrease font size globally so more rows can fit in the table */
	html {
		font-size: small;
	}

	/* Elements with this class, including children, will be removed in print */
	.no-print, .no-print * {
		display: none !important;
	}

	/* Hide the borders of all input boxes */
	input {
		border: 0px !important;
	}
}

body {
	font-family: "DejaVu Serif";
}


/* "Reasons" section */
#reasons {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

/* Styling for "reason" checkboxes */

/* Hide the default checkbox */
.reasoncheckbox {
	visibility: hidden;
}


.reasoncheckbox + label {
	position: relative;
	cursor: pointer;
}

/* Draw a new checkbox visual */
.reasoncheckbox + label::before {
	display: inline-block;
	content: "";
	height: 1em; width: 1em;
	border: 2px solid #ccc;
	border-radius: .2em;
	overflow: hidden;
}

.reasoncheckbox:checked + label::before {
	content: "✓";
}

/* Table stylings */
.table-basic {
	table-layout: auto;
	text-align: center;
	border: 1px solid;
	border-collapse: collapse;
}

#partinfo {
	margin-left: auto;
	margin-right: auto;
}

#table_main_section {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
}

th {
	padding: 5px;
	border: 1px solid;
}

td {
	padding: 1px;
	border: 1px solid;
}

tr:nth-child(even) {
	background-color: whitesmoke;
}

input {
	background: transparent;
}

/* Styles for cells in the partinfo table */
.partnum {
	width: 7em;
}

.partrev {
	width: 2em;
}

.partdesc {
	width: 25em;
}

.partpo {
	width: 10em;
}

.partserial {
	width: 10em;
}

/* Styles for cells in the main table*/
/* Each class is a column */
.itemnum, .pagenum, .loc {
	width: 2em;
}

.param {
	width: 15 em;
}

.actual {
	width: 10 em;
}

.insptool {
	width: 10 em;
}

/* Menu for modifying the main table */
.table_menu {
	display: flex;
	margin-top: 10px;
	height: 50px; width: 100%;
}

.table_menu > * {
	margin: 5px;
}

/* Styling for the floating menus that appear next to table rows */
.table_menu_float {
	display: none;
	position: absolute;
	border: 1px solid green;
}

tr:hover .table_menu_float {
	display: flex;
}

/* Comment text box */
#commentSection {
	justify-content: flex-end;
	display: flex;
}

.commentBox {
	width: 100%;
	margin: 0 5px;
	resize: none;
}
